

header {
    .color-claro {
        background-color: #F3EEF9
    }

    #navbarNav {
        background-color: #F3EEF9;

        .nav-link {
            &:hover {
                transform: scale(1.15);
                transition: .34s;
            }
        }

    }

    .text-align {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 5rem;
        border-radius: 50%;

    }
}